{{> doc-head }}
<body>
    {{> header }}

    <main>

		<div id="debug-links">
			<a href="/database?name=players" onclick="window.location.href=createBackendURL(this.pathname+this.search);return false">database</a>
			<a href="/dorfeingang/index">only data</a>

		</div>
	
    </main>

    {{> footer }}
</body>
</html>
