{{> doc-head }}
<body>
    {{> header }}

    <main>

		<div id="story-part">
		
		</div>
	
    </main>

    {{> footer }}
    
    <script src="/assets/js/story.js"></script>
	<script>
		loadStory();
	</script>
</body>
</html>
